@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.area-app{
    width: 100%;
    height: 500px;
}
.img-area-app img{
    width: 70%;
}
.img-area-app img:hover{
    cursor: pointer;
}
.header-app{
    width: 100%;
    font-size: 30px;
    font-family: Roboto;
    margin-bottom: 20px;
}
.teste{
    background-color: black;
}
.teste2{
    background-color: orange;
}
